@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Caprasimo&display=swap');

body{
    background-color: #FFE3B0;
    overflow-x: hidden;
    width: 100vw;
}

main{
    padding: 5% 20%;
    background-image: url(../media/background/fondhead.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

/*ANIMATION CSS*/

@keyframes logoRotation {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes logoShake {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}

@keyframes beats {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	20% {
		animation-timing-function: ease-in;
		transform: scale(0.97);
	}

	30% {
		animation-timing-function: ease-out;
		transform: scale(0.99);
	}

	43% {
		animation-timing-function: ease-in;
		transform: scale(0.97);
	}

	70% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

/*STYLE DE BASE ET TEXTES */

h1{
    font-family: "Caprasimo", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #3f292e;
    font-size: 2.5rem;
}

h2{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #3f292e;
}

h3{
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    color: #3f292e;
}

p, label{
    font-family: "Afacad", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    color: #3f292e;
    margin-bottom: 2px;
}

a{
    color: beige;
    text-decoration: none;
}

a:hover{
    color: #E47161;
}

.title{
    font-family: "Caprasimo", serif;
}

button, .button-style {
    background-color: #E47161;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color: beige;
    border:#492E34 2px solid ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 4px 4px #492E34);
}

button:hover, .button-style:hover{
    background-color:#8f505e;
}

.active{
    background-color:#8f505e;
}



.voirPlus{
    width: 15px;
    height: 25px;
    rotate: 82deg;
}

.decoTitre{
    width: 50px;
    margin: 20px;
    overflow: hidden;
    animation: logoRotation  35s linear 0s infinite normal forwards;
}
.decoTitreShake{
    width: 50px;
    margin: 20px;
    overflow: hidden;
    animation: logoShake 12s ease-out 0s infinite normal forwards;
}

/* HEADER */

header {
    padding: 2%;
    position: fixed;
    width:100vw;
    z-index: 7;
}

#logo{
    width: 70px;
    height: 70px;
    filter: drop-shadow(2px 2px 2px #492E34);
}

#menuBtn{
    position: relative;
    cursor: pointer;
    filter: drop-shadow(2px 4px 4px #492E34);
}

/*MENU*/

@keyframes menuSlide {
	0% {
		transform: translateY(-1200px);
	}

	100% {
		transform: translateY(0px);
	}
}

#menuInfo {
    display: none;
    justify-content: center;
    position: fixed;
    background-color: #492E34;
    color: beige;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    animation: menuSlide 2s ease 0s 1 normal;
    z-index: 6;
    top: 0;
}

#menuInfo>ul{
    padding-top: 8%;
}

.bi-box-arrow-up-right{
    width: 30px;
    height: 30px;
    margin: 0 0 10px 20px;
}

#menuInfo>ul>li {
    font-family: "Afacad", sans-serif;
    color: beige;
    font-size: 50px;
    list-style: none;
}

#menuInfo>ul>li>img {
    width: 50px;
}

/* MENU VISUEL */

#visuelMenu{
    width: 40%;
}

#mascotteMenu {
    width: 10%;
    position: absolute;
    margin: 0 0 500px 200px;
    overflow: hidden;
    z-index: 2;
    animation: logoShake 15s ease-out 0s infinite normal forwards;
}

#bgMascotteMenu {
    width: 70%;
    height: max-content;
    position: relative;
    z-index: 1;
}


/*FOOTER*/

footer {
    background-image: url(../media/background/footerBackground.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 10% 0 3% 0;
    color: beige;
    filter: drop-shadow(2px 4px 4px #492E34);
}

#topFooter{
    width: 100%;
    margin-right: 100px;
}

#logoFooter {
    margin: 2% 8% 2% 0%;
}

#logoFooter>img{
    margin: 10%;
    width: 150px;
    height: 150px;
    filter: drop-shadow(2px 2px 2px rgb(63, 46, 23));
}

#logoFooter>div>p:first-of-type {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    color: beige;
    font-size: 30px;
}

footer>div>div>p{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    color: beige;
    font-size: 25px;
}

#footerFleur>img{
    width: 120px;
}

.footerRS{
    width: 50px;
    margin: 10px;
}


#informationFooter{
    width: 600px;
}

#informationFooter>a{
    margin: 0 5%;
}


/*ACCUEIL*/

#mainAccueil{
    padding: 5% 0;
    overflow-x: hidden;
}

#bienvenue {
    height: 900px;
    margin-top: -100px;
    padding-top: 200px;
    background-image: url(../media/background/pexels-milodeckertxXL.png);
    background-size: cover;
    background-position: right;
    width: 100%;
    padding-bottom: 20px;
    filter: drop-shadow(2px 4px 4px #492E34);
    
}

#logoAnim{
    
    height: 400px;
}

#mascotte {
    position: absolute;
    z-index: 4;
    width: 12%;
    top: 142px;
    left: 23%;
    overflow: hidden;
    animation: logoShake 20s ease-out 0s infinite normal forwards;
}

#forme1{
    position: absolute;
    z-index: 4;
    width: 5%;
    top: 150px;
    right: 32%;
    overflow: hidden;
}

#mega {
    position: absolute;
    z-index: 4;
    width: 8%;
    left: 18%;
    top: 460px;
    overflow: hidden;
    animation: logoShake 10s ease-out 0s infinite normal forwards;
}

#cassette {
    position: absolute;
    z-index: 4;
    width: 8%;
    top: 95px;
    right: 15%;
    rotate: -30deg;
    overflow: hidden;
    animation: logoShake 10s ease-out 0s infinite normal forwards;
    
}

#etoile {
    position: absolute;
    z-index: 4;
    width: 5%;
    top: 580px;
    left: 28%;
    overflow: hidden;
    animation: logoRotation 20s linear 0s infinite normal forwards;
}

#fleur1 {
    position: absolute;
    z-index: 4;
    width: 10%;
    top: 230px;
    right: 17%;
    overflow: hidden;
    animation: logoRotation  25s linear 0s infinite normal forwards;
}

#fleur2 {
    position: absolute;
    z-index: 4;
    width: 7%;
    top: 600px;
    right: 25%;
    overflow: hidden;
    animation: logoRotation  30s linear 0s infinite normal forwards;
}

#tartelette{
    position: absolute;
    z-index: 2;
    width: 35%;
    overflow: hidden;
    animation: logoRotation  35s linear 0s infinite normal forwards;

}

#ns_2024{
    position: absolute;
    z-index: 3;
    width: 28%;
    animation: beats 0.6s ease-out 0s infinite normal forwards;

}

#btnlanding {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-size: 25px;
    z-index: 2;
    border: solid 2px;
    border-color: #492E34;
    margin-top: 200px;
    width: 25%;
    padding: 1%;
    margin-left: 38%;
    filter: drop-shadow(2px 4px 4px #492E34);
}

#fleurbtn {
    position: absolute;
    z-index: 3;
    width: 100px;
    margin-left: 60%;
    margin-top: 25%;
    overflow: hidden;
    animation: logoShake 12s ease-out 0s infinite normal forwards;
}

/*ACCUEIL AFFICHE*/
#affiche{
    width: 100%;
    overflow: hidden;
}

#carouselArtiste{
    padding: 20px 20% 20px 20%;
    width: 100%; 
}

#conteneurCarousel{ 
    overflow-x:scroll;
    scroll-behavior: smooth; 
}

.carouselCard{
    background-image: none;
    background-size: cover;
    background-position: center;
    height: 320px;
    justify-content: end;
    background-color:#8f505e;
    border-style: solid;
    border-color: #492E34;
    margin: 5px;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
    cursor: pointer;
    
}

.infoCard {
    width: 300px;
    background: linear-gradient(0deg, rgba(0,0,0,0.6278886554621849) 49%, rgba(255,255,255,0) 100%);
    padding: 20px;
}

.infoCard>h3,.infoCard>p{
    color: beige;
    margin: 0;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
}

.infoCard>h3 {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: larger;
    font-size: 34px;
    display: flex;
    justify-content: left;
}

/*ACCUEIL BILLETERIE*/

#billeterie {
    width: 100%;
    padding: 2% 0 4%;
    background-image: url(../media/background/pexels-wendywei-1805895.png); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#billeterie>div>h2 , #billeterie>p {
    color: beige;
}

.pass1, .pass2, .pass3 {
    position: relative;
    z-index: 3;
    background-image: url(../media/background/tartelette_accueil.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    justify-content: center;
    align-items: center;
    margin: 2% 2%;
    filter: drop-shadow(2px 4px 4px #3f2128);
}

.pass3{
    width: 350px;
    height: 350px;
}

.pass2,.pass1{
    width: 270px;
    height: 270px;
}

.pass3>h3{
    font-family: "Caprasimo", serif;
    font-size: 30px;
}
.pass3>p{
    font-size: 40px;
    font-weight: bold;
    color: #E47161;
}

.pass1>h3, .pass2>h3{
    font-family: "Caprasimo", serif;
    font-size: 24px;
}

.pass1>p, .pass2>p{
    font-size: 30px;
    color: #E47161;
    font-weight: bold;
}

/*ACCUEIL ARTICLE ACTU*/

#news {
    background-color: #E47161;
    width: 100%;
    padding: 20px 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    filter: drop-shadow(2px 4px 4px #492E34);
    overflow: hidden;
}

#news>h2{
    display: flex;
    justify-content: center;
}

.articleCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    background-color:beige;
    border-style: solid;
    border-color: #492E34;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    cursor: pointer;
    filter: drop-shadow(2px 4px 4px #492E34);
}

.articleImg{  
    height: 250px; 
    display: flex;
    justify-content: center;
    
}

.articleImg>img{
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.articleDescription{
    padding: 6%;
}

#articleConteneur{ 
    overflow-x:scroll;
    scroll-behavior: smooth; 
}

/*ACCUEIL HUMANITAIRE */

#asso{
    width: 100%;
    padding: 20px 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#assoTxt>img{
    border-radius: 100%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 5% ;
}

/* CONCERT */

.sceneConteneur {
    width: 480px;
    background-color: beige;
    padding: 10px 15px 10px 15px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 15px;
    margin: 1%;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
}

.concertItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#8f505e;
    border-style: solid;
    border-color: #492E34;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color: beige;
}

.concertItem>div>h3,.concertItem>div>p{
    color: beige;
    margin: 0;
}

.concertItem>img{
    border-radius: 50%;
    object-fit: cover;
    margin: 0 18px 0 8px;
    border: solid 2px beige;
}

/*PROGRAMMATION*/

#mainProg {
    padding: 5% 10%;
}

#progHeader>div>img{
    margin: 20px;
    animation: logoRotation  35s linear 0s infinite normal forwards;
}

.filtreConteneur {
    display: flex;
    width: 240px;
}

.progBtn{
    margin-top: 2%;
    width: 700px;
    background-color: beige;
    padding: 10px 15px 10px 15px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 15px;
    margin: 1%;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
}



.iconScene {
    width: 60px;
    margin: 3%;
    animation: beats 0.6s ease-out 0s infinite normal forwards;
}

#heure{
    background-color: #E47161;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color: beige;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#filtreTemporel, #filtreAutre {
    width: 50%;
}

.progItem{
    background-image: none;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 320px;
    justify-content: end;
    background-color:#8f505e;
    border-style: solid;
    border-color: #492E34;
    margin: 1%;
    border-radius: 8px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
}

.progItem>div>h3,.progItem>div>p{
    color: beige;
    margin: 0;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
}

.progItem>div>h3 {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: larger;
    font-size: 34px;
    text-align: left;
}

.progTxt{
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.6278886554621849) 49%, rgba(255,255,255,0) 100%);
    padding: 20px;
}

.date{
    color: #E47161!important;
    font-weight: bold;
}

/* FAQ */

.faqTopic{
    padding: 2% 0;
}
.reponse{
    display: none;
}
.conteneurQuestion {
    background-color: beige;
    padding: 10px 25px 10px 25px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 15px;
    margin: 1% 0;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
}

.inputForm {
    background-color: beige;
    padding: 10px 25px 10px 25px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 15px;
    margin: 1%;
}



/*RESEAUX SOCIAUX*/

.imgRS {
    width: 80px;
    padding: 5%;
    margin-right: 5%;
}

.conteneurRS {
    background-color: beige;
    width: 300px;
    padding: 25px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 10px;
    margin: 1%;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
}

/*PARTENAIRE*/

.conteneurPartenaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #8f505e;
    border-style: solid;
    border-color:#492E34;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));   
}

.conteneurPartenaire>h2{
    color: beige;
    font-size: 30px;
}

.imgPartenaireConteneur {
    background-color: rgb(255, 255, 255);
    /* height: 200px; */
    width: 100%;
    margin: 1% 0;
    border-style: solid;
    border-color: #492E34;
    border-radius: 8px;
}

.imgPartenaireConteneur>img {
    width: 200px;
    height: fit-content;
    margin: 5%;
}

.imgPartenaireConteneur>div>h2{
    display: flex;
    justify-content: flex-start;
}

/*CARTE*/

#map {

    min-height: 400px;
    width: 60%;
    position: relative;
    z-index: 1;
    border-style: solid;
    border-color: #492E34;
    margin: 1%;
}

#conteneurInformations{
    width: 40%;
    background-color: beige;
    padding: 10px 15px 10px 15px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 10px;
    margin: 1%;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
}

.leaflet-popup-content {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    color: #3f292e; 
}

.carteInfoImg{
    display: flex;
    justify-content: center;
}

.carteInfoImg>img {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    padding: 5%;
}

.carteConcertTxt>h2, .carteConcertTxt>p{
    color: beige;
}

.bgRound {
    position: absolute;
    z-index: 1;
    width: 230px;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
    animation: logoRotation  35s linear 0s infinite normal forwards;   
}

.imgRound{
    position: relative;
    z-index: 2;
    width: 210px;
    height: 210px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    padding: 8%;
    animation: beats 0.6s ease-out 0s infinite normal forwards;
}

.carteTxt, .carteConcertTxt{
    padding: 3%;
}

.conteneurImg{
    height: 100%; 
}

#legend{
    width: 100%;
    background-color: beige;
    padding: 20px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 10px;
    margin: 1%;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
}
    

.legendItem>img{
    width: 40px;
    margin: 2%;
}
/*INFORMATION*/

#retour {
    margin: 35px 20px;
}

#retour>a>img{
    rotate: 180deg;
    margin-right: 10px;
}

#information {
    background-color: beige;
    padding: 10px 15px 10px 15px;
    border-style: solid;
    border-color: #492E34;
    border-radius: 15px;
    margin: 1%;
    filter: drop-shadow(2px 2px 2px rgb(136, 108, 72));
}

.infoTxt{
    padding: 2%;
}

.infoTxt{
    padding: 2%;
}

.imgInfo>img{   
    width: 300PX;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 7px;
    border: solid #492E34;
}

#fleurInfo{
    position: absolute;
    z-index: 2;
    width: 120px;
    right: 1px;
    top: -90px;
}

.btnInfoFooter{
    padding: 4%;
}

.btnInfoFooter>img{
    margin-right: 10%;
}

.btnInfoFooter>div>h3 {
    font-family: "Caprasimo", serif;
    color: beige;

}

