<div class="carteFood d-flex flex-column">
    <div class="carteInfoImg">
        <img src="../../assets/media/doodle/happyfleur2.png" id="aucunImg">
    </div>
    <div class="carteTxt d-flex flex-column justify-content-around align-items-center">
        <h2>Pas d'évenement en cours!</h2>
        <p>N'hésitez pas à consulter la programmation du festival pour voir les événements à venir!</p>
        
        <a href="../../view/programme/programme.html" class="button-style">Découvrez le programme</a>
       
        
    </div>
</div>

