<div class="carteConcert d-flex flex-column justify-content-center align-items-center"> 
    <div class="carteConcertTxt d-flex flex-column justify-content-center align-items-center">
        <h2 class="scene">%scene%</h2>
        <p class="title">Concert en cours: %title%</p>
        <p class="heure">%heure%</p>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <img src="../../assets/media/background/tartelette_accueil.png" class="bgRound">
        <img src="%src%" class="imgRound">
    </div>
</div>