<div class="infoItem d-flex flex-column flex-xl-row-reverse justify-content-center">

  <div>
    <img src="../../assets/media/doodle/happyfleur1.png" class="decoTitre" id="fleurInfo">
  </div>

 
  <div class="infoTxt d-flex flex-column justify-content-center align-items-center" >
    <h1 class="title">%title%</h1>
    <p class="scene"><strong>Lieu: </strong>%scene%</p>
    <p class="date"><strong>%date%</strong></p>
    <p class="heure">%heure%</p>
    <p class="description" >%description%</p>
  </div>

    
  <div class="imgInfo d-flex align-items-center justify-content-center">
    <img class="src" src="%src%">  
  </div> 
</div>