<div class="progItem d-flex flex-column" id="%id%" style="background-image: url(%src%);">
    <div class="conteneurImg d-flex flex-row justify-content-end align-items-start">
        <img class="iconScene d-flex justify-content-end align-items-end" src="%iconS%">
    </div>
    
    <div class="progTxt">
        <h3 class="title">%title%</h3>
        <p class="scene">Lieu: <strong>%scene%</strong></p>
        <p class="date"><strong>%date%</strong></p>
        <p class="heure">%heure%</p>
    </div>
    
</div>